@font-face { 
    font-family: "RevaliaRegular";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('RevaliaRegular'), local('Revalia-Regular'),
     url(../fonts/Revalia-Regular.woff) format('woff'),
     url(../fonts/Revalia-Regular.woff2) format('woff2');
}

* {
    box-sizing: border-box;
  }

a {
  display: inline-block;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  transform: translateX(5px);
}
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1920px;
    padding-left: 320px;
    padding-right: 58px;
    margin-right: auto;
    margin-left: auto;
    
  }

  /* Header */

.header__logo {
    font-family: 'RevaliaRegular';
    font-size: 42px;
    line-height: 60px;
    color: #34547A;
}

.header__container {
    display: flex;
    padding-top: 20px;
    background: #EEEFF1;
}

.nav__list {
    display: flex;
    align-items: center ;
    list-style: none;
    padding-left: 320px;
    padding-top: 9px;
  }

.nav__link {
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #000000;
}

.nav__item:not(:last-child) {
    margin-right: 33px;
  }

  /* Skills block */

  .skills__container {
    background: #EEEFF1;
    display: flex;
    padding-top: 123px;
    padding-left: 385px;
    padding-bottom: 97px;
  }

  .left__skills {

    background-image: url("/img/note.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 290px;
    height: 200px;

  }


  .right__skills {
    max-width: 540px;
    padding-left: 95px;
  }

  .skills__header {
    margin: 0;
    font-weight: 500;
    font-size: 39px;   
  }

  .skills_description {
  font-size: 14px;
  line-height: 26px;
  color: #727272;
  }

  .skills__btn {
    color: #fff;
    font-size: 13px;
    background-color: #34547A;
    border: none;
    padding: 15px 40px;
  }

  .skills__btn:hover {
    opacity: 0.7;
  }

  /* About */
  .about__container {
    padding-bottom: 78px;
  }

  .about__header {
    padding-left: 390px;
    padding-top: 85px;
    font-size: 25px;
  }

  .about__description {
   margin-left: 250px;
    color: #727272;
    font-size: 14px;
    max-width: 500px;
  }

  /* Project */

  .project__container {
    background-color: #34547A;
    display: flex;
    padding-top: 55px;
    padding-bottom: 63px;
  
  }



  .project__img {
    width: 45px;
    height: 50px;
    margin-top: 20px;
  }

  .project__header {
    color: #fff;
    padding-left: 10px;
    margin-bottom: 0;
  }

  .project__description {
    color: #fff;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 14px;
  }

  .right__project:not(:last-child) {
    padding-top: 5px;
    margin-right: 40px;
  
  }

  /* My skills */

  progress {
    border:0;
    width: 350px;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
}
progress::-webkit-progress-bar {
    width: 350px;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
}
progress::-webkit-progress-value {
    border-radius: 5px;
    background: #34547A;
}
progress::-moz-progress-bar {
    border-radius: 5px;
    background: #34547A;
}

.skills__title {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #727272;
}
.myskills__header {
  font-size: 24px;
}

.left__myskills {
  padding-top: 157px;
}
.right__myskills {
  padding-top: 95px ;
  padding-left: 55px;
}

.myskills__container {
  display: flex;
}

.myimg {
  width: 500px;
  height: 400px;
}

  /* Video */

  .video__container {
    background-color: #EEEFF1;
  
  }

  .video__header {
    padding-top: 95px;
    padding-left: 360px;
    font-size: 25px;
  }

  .video__description {
    font-size: 12px;
    max-width: 540px;
    margin-left: 270px;
    color: #727272;
  }

  .youtube {
    margin-left: 100px;
  }

  /* Work */

  .img__block {
    line-height: 0;
  }
  .work__container {
    margin-top: 25px;
  }

  .work__img {
    max-width: 320px;
    height: 320px;
  }

  /* React */

  .react__block {
    display: flex;
    justify-content: space-evenly;
    padding-right: 200px;
    padding-top: 70px ;
    padding-bottom: 70px;
  }

  /* Form */

  .form__container {
    background-color: #EEEFF1;
  }

  .form__header {
    padding-top: 95px;
    padding-left: 360px;
    font-size: 25px;
  }

  .form__description {
    font-size: 12px;
    max-width: 540px;
    margin-left: 220px;
    color: #727272;
    text-align: center;
  }

  .input__block {
    display: flex;
  }

  .form {
    padding-left: 250px;
  }

  .form__input {
    margin-bottom: 25px;
    height: 50px;
    width: 250px;
    background-color: #fff;
    border: none;
    }

    .form__input:not(:last-child){
      margin-right: 20px;
    }

    .textarea__block {
      display: flex;
      flex-direction: column;
      border: none;
      width: 520px;
    }

    .form__btn {
    
    color: #fff;
    font-size: 13px;
    background-color: #34547A;
    border: none;
    padding: 15px 40px;
    width: 140px;
    margin-left: 165px;
    margin-top: 15px;
    margin-bottom: 100px;
    
    }

    .footer__container {
      height: 151px;
      background: #34547A;
    }